h1{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}


.brand_text{
    color:white;
    font: 11px/13px Arial, Helvetica, sans-serif;
    padding-left: 10px;
}
.header_background{
    color: white;
    background-color: black;
}

